---
import Section from '../Section.astro';

import { education } from '@cv';
---

<Section title='Education'>
	<ul>
		{
			education.map(({ institution, startDate, endDate, area, summary, url }) => {
				const startMonth = new Date(startDate)
					.toLocaleString('default', {
						month: 'short',
					})
					.toUpperCase();
				const startYear = new Date(startDate).getFullYear();

				const endMonth =
					endDate != null
						? new Date(endDate)
								.toLocaleString('default', { month: 'short' })
								.toUpperCase()
						: null;
				const endYear = endDate != null ? new Date(endDate).getFullYear() : 'Currently';

				return (
					<li>
						<article>
							<header>
								<div>
									<h3>{area}</h3>
									<h4>
										<a href={url} title={`See ${institution}`} target='_blank'>
											{institution}
										</a>
									</h4>
								</div>

								<div>
									<time datetime={startDate} data-title={startDate}>
										{`${startMonth} ${startYear}`}
									</time>
									{' - '}
									<time datetime={endDate} data-title={endDate}>
										{endMonth != null ? `${endMonth} ${endYear}` : 'Currently'}
									</time>
								</div>
							</header>

							<footer>
								<p>{summary}</p>
							</footer>
						</article>
					</li>
				);
			})
		}
	</ul>
</Section>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	article h3 {
		font-weight: 500;
		color: #111;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 4px;
	}

	time {
		color: #555;
		font-size: 0.85rem;
		min-width: 102px;
	}

	@media (width <= 700px) {
		time {
			text-align: right;
		}
	}
</style>
